
.navbar-container{
    padding: 3rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    width: 250px !important;
    height: 55px !important;
    cursor: pointer;
}
.navbar-logo img{
width: 100% ;
height: 100%;
object-fit: contain;
}
.navbar-link-container{
    background-color: #606060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 0.5rem 0rem;
}
.navbar-links{
    margin: 0 0rem 0rem 2rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    /* padding-bottom: 6px; */
}
.navbar-links p{
    margin: 0;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.navbar-links p:hover{
    color: var(--color);
    transition: all 0.5s linear;
}
/* .navbar-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #000; 
    transition: width 0.3s ease;
  } */
  
  /* ACTIVE ROUTE */
  /* .navbar-links.active::after {
    width: 100%;
  } */
.navbar-links-download{
    margin: 0 0.5rem 0rem 1.5rem;
    background-color: var(--color);
    border-radius: 20px;
    padding: 0.25rem 1rem;
    cursor: pointer;
}
.navbar-links-download p{
    font-size: 14px;
    color: white;

}
.navbar-links-download p:hover{
    color: black;
    transition: all 0.5s linear;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    width: 24px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  /* Animate to X */
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  @media (max-width: 1550px) {
    .navbar-container{
        padding: 3rem 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }

  @media (max-width: 1200px) {
    .navbar-container{
        padding: 2rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }

  
  @media (max-width: 900px) {
    .navbar-container {
      padding: 2rem 3rem;
      position: relative;
    }
    .navbar-logo{
        width: 200px;
        height: 55px;
        cursor: pointer;
    }
  
    .hamburger {
      display: flex;
      z-index: 1001;
    }
  
    /* OFF-CANVAS MENU */
    .navbar-link-container {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 80vw;
      max-width: 400px;
      background-color: #606060;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 2rem;
      border-radius: 0;
  
      transform: translateX(100%);
      transition: transform 0.35s ease;
      z-index: 1000;
    }
  
    /* OPEN STATE */
    .navbar-link-container.active {
      transform: translateX(0);
    }
  
    .navbar-links {
      margin: 0 0 1.75rem 0;
    }
  
    .navbar-links p {
      font-size: 18px;
    }
  
    .navbar-links-download {
        margin: 0;
      margin-top: 1rem;
      padding: 1rem 0.5rem ;
      width: 75%;
      text-align: center;
    }
    .navbar-links-download p {
        font-size: 16px;
      }

  }

  @media (max-width: 600px) {
    .navbar-container {
        padding: 2rem 2rem;
        position: relative;
      }
    .navbar-link-container {
        width: 75vw;
      }
  }
  
  
  