@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  margin: 0;
  font-family: "Lato", sans-serif;
}
h3{
  margin: 0;
  font-family: "Lato", sans-serif;
}
p{
  margin: 0;
  font-family: "Lato", sans-serif;
}
:root {
  --font-family: "Lato", sans-serif;
  --color: #cc9933;
  --color2: #663300;
  --background-color: #1e1e1e;
  --background-color1: #F2E9C3;
}

